<div class="file-header">
  <span class="basicStockInfo" >
    <span class="file-link entry-link" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover" >Symbol</span>

    <span class="avg-buy-price">Avg. Price</span>
    <span class="shares" ># Owned</span>
    <span class="buys" >Orders</span>
    <span class="sells" >For Sale</span>
  </span>
  <span class="mtime" data-timestamp="{{mtime}}">
   
  
  
    Price
  </span>
  <span class="quantity">
    Quantity
    <span class="fractions">
     
    </span>
    
    
    
   


  </span>
  

  <span class="position-bot-checkbox" ><input class="order-type" type="checkbox" name="position-bot"  checked="checked">PositionBot</span>
  
</div>