<main></main>
<input type="file" name="file" id="file" class="hidden" multiple/>
<div id="overlay"></div>
<div id="entry-menu">
  <a class="play"><svg class="play"><use xlink:href="#i-play"></svg>Play</a>
  <a class="openfile"><svg class="open"><use xlink:href="#i-open"></svg>Open</a>
  <a class="edit"><svg class="pencil"><use xlink:href="#i-pencil"></svg>Edit</a>
  <a class="rename"><svg class="rename"><use xlink:href="#i-rename"></svg>Rename</a>
  <a class="copy"><svg class="copy"><use xlink:href="#i-copy"></svg>Copy</a>
  <a class="cut"><svg class="scissors"><use xlink:href="#i-scissors"></svg>Cut</a>
  <a class="delete"><svg class="trash"><use xlink:href="#i-trash"></svg>Delete</a>
</div>
<div id="about-box">
  <div class="settings-title">Settings</div>
  <ul class="list-prefs">
     <li>
        <label>Default Quantity</label>
        <input class="default-quantity-input" type="number" placeholder="">
      </li>   
      <li><label>Enable PositionBot</label>
        <span class="position-bot" ><input class="position-bot-checkbox" type="checkbox" name="position-bot" ></span>
      </li>
    <li><label>Enable ExtendedHours Executions</label>
    <span class="extended-hours" ><input class="extended-hours-checkbox" type="checkbox" name="extended-hours" ></span>          
      </li>
  </ul>
  <div class="about-buttons">
          <a href="" class="quantity-button save-cancel" id="Save"><span>Save</span></a>
          <a href="" class="quantity-button save-cancel"><span>Cancel</span></a>
  </div>

  
</div>
<div id="prefs-box"></div>
<div id="drop-select">
  <span class="movefile">Move</span>
  <span class="copyfile">Copy</span>
  <span class="viewfile">View</span>
</div>
