<ul class="list-prefs">
    <div class="prefs-title">Hotkeys</div>
  {{#each opts}}
    <li>
      <label>{{this.label}}</label>

 
      <input id="{{this.name}}" class="options-input" value="{{this.selected}}" placeholder="Enter Key" spellcheck="false">

        
    </li>
  {{/each}}
</ul>
