<div class="popover fade right in" role="tooltip" >
  <div class="arrow" style="top: 50%;"></div>
 
  <div class="popover-content">
    <svg class="sentiment">
      {{chart}}
    </svg>
      </div>
</div>